<article class = "goal">
  <div class = "goal-content">
    <p class = "goal-text">
      {{goalText}}
    </p>
    <p class = "goal-date">
      <a href = "#">{{goalDate}}</a>
    </p>
  </div>
</article>
