<article class = "goal">
  <div class = "goal-content">
    <p class = "goal-text">
      {{goalText}}
    </p>
    <p class = "goal-date">
      <a href = "#">{{goalDate}}</a>
    </p>
    <form action= "goals/delete/{{this.goalText}}" method = "delete">
      <button type="submit" class="modal-delete-button">delete</button>
    </form>
  </div>
</article>

    
