<main class = "goals-container">
  {{#each goals}}
    {{>goals}}
  {{/each}}
</main>

<button type="button" id="create-goal-button">+</button>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="create-goal-modal" class="hidden">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>What's your goal?</h3>
        <button type="button" class="modal-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="goal-input-element">
          <label for="goal-text-input">Goal</label>
          <textarea id="goal-text-input"></textarea>
        </div>
        <div class="goal-input-element">
          <label for="goal-attribution-input">Date</label>
          <input type="text" id="goal-attribution-input">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="modal-cancel-button">Cancel</button>
        <button type="button" class="modal-accept-button">Create goal</button>

        <div class = "bottom">
          <p> hi </p>
        </div>
      </div>
    </div>
  </div>

      <div id="modal-backdrop2" class="block"></div>
      <div id="create-goal-modal2" class="hidden">
        <div class="modal-dialog2">

          <div class="modal-header2">
            <h3>What's your goal?</h3>
            <button type="button" class="modal-close-button2">&times;</button>
          </div>

          <div class="modal-body2">
            <div class="goal-input-element2">
              <label for="goal-text-input2">Goal</label>
              <textarea id="goal-text-input2"></textarea>
            </div>
            <div class="goal-input-element2">
              <label for="goal-attribution-input2">Date</label>
              <input type="text" id="goal-attribution-input2">
            </div>
          </div>

          <div class="modal-footer2">
            <button type="button" class="modal-cancel-button2">Delete</button>
            <button type="button" class="modal-accept-button2">Edit goal</button>
          </div>

      <div class = "bottom">
        <p> hi </p>
      </div>
    </div>
  </div>
