<main class = "goals-container">
  {{#each goals}}
    {{>goals}}
  {{/each}}
</main>

<button type="button" id="create-goal-button">+</button>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="create-goal-modal" class="hidden">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>what's your goal?</h3>
        <button type="button" class="modal-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="goal-input-element">
          <label for="goal-text-input">goal</label>
          <textarea id="goal-text-input"></textarea>
        </div>
        <div class="goal-input-element">
          <label for="goal-attribution-input">date</label>
          <input type="text" id="goal-attribution-input">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="modal-cancel-button">cancel</button>
        <button type="button" class="modal-accept-button">create goal</button>
      </div>
    </div>
  </div>

      <div id="edit-goal-modal" class="hidden">
        <div class="modal-dialog-edit">

          <div class="modal-header-edit">
            <h3>edit your goal</h3>
            <button type="button" class="modal-edit-close-button">&times;</button>
          </div>

          <div class="modal-edit-body">
            <div class="goal-edit-input-element">
              <label for="goal-edit-text-input">goal</label>
              <textarea id="goal-edit-text-input"></textarea>
            </div>
            <div class="goal-edit-input-element">
              <label for="goal-edit-attribution-input">date</label>
              <input type="text" id="goal-edit-attribution-input">
            </div>
          </div>

          <div class="modal-edit-footer">
            <!-- <button type="button" class="modal-delete-button">delete</button> -->
            <button type="button" class="modal-edit-button">edit goal</button>
          </div>
        </div>
      </div>
