html{
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

header{
  width: 100%;
  z-index : 100;
  margin-top: 0;
}

body{
  width: 100%;

  margin: 0;
  padding: 0;
  z-index : 99;
}

h1{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Baloo Bhai', sans-serif;
    font-size: 30px;
}

a {
  text-decoration: none;
  font-family: 'Baloo Bhai', sans-serif;
  color: black;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to   {opacity: 1;}
}

#site-title{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 200px;
  color: white;
  font-family: 'Baloo Bhai', sans-serif;
  animation: fadeIn;
  animation-duration: 4s;
  animation-timing-function: ease;
}

@keyframes drift{
    from    {margin-left: -100px;}
    to      {margin-left: 100%;}
}

.airplane {
    margin-top: 400px;
    animation-duration: 50s;
    animation-name: drift;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.navlist{
  z-index: 101;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  background-color: rgb(100, 100, 100);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100px;
  border-radius: 5px;
  bottom: 50px;

}

.navlist .navitem {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 25px;
  width: 33.33%;
  text-align: center;
  margin-left: 0px;
  animation: fadeIn;
  animation-duration: 4s;
  animation-timing-function: ease;

}

.navlist .navitem:hover {
  background-color: rgb(30, 240, 170);
  width: 40%;
  transition: .5s;
}

.statement {
    animation: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    color: white;
    font-family: 'Baloo Bhai', sans-serif;
    text-align: center;

}

.goals-container {
    justify-content: center;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.goal {
  background-color: rgba(255, 255, 255, 0.3);
  align: center;
  margin-left: 30%;
  margin-right: 30%;
  flex: 0 1 100%;
  display: flex;
  margin-bottom: 15px;
  padding: 20px;
  height: 10%;
  border: 1px;
  border-radius: 25px;
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;

}

.goal:hover {
  background-color: rgb(30, 240, 170);
  margin-left: 20%;
  margin-right: 20%;
  flex: 0 1 100%;
  transition: .5s;
  transform: scale(1.1);
}

.dropdown {
  position: relative;
  height: 10%;
  background-color: white;
  border: none;
  border-radius: 25px;
}

.drop-nav {
  position: absolute;
}

.goal-content {
  flex: 1 1 10%;
  margin-left: 10px;
}

.goal-content p {
  margin: 0;
  font-family: 'Baloo Bhai', sans-serif;
  color: white;
}

.goal-content .goal-date {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.goal-content p{
    font-size: 20px;
    color: rgb(100, 100, 100);
}

.goal-date a{
    font-size: 15px;
    color: white;
}



.cloud {
    animation: drift;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2;
    margin-top: 40px;
    width: 100px;
    height: 100px;
}

.bottom_img {
    z-index: 0;

    width: 100%;
    margin-bottom: -10px;
}

#create-goal-button {
  font-family: 'Baloo Bhai', sans-serif;
  position: fixed;
  right: 10%;

  bottom: 30px;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 30px;
  font-size: 50px;
  background-color: rgb(100, 100, 100);
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-goal-button:hover,
#create-goal-button:focus {
  align: center;

  bottom: 22px;
  height: 100px;
  width: 100px;
  right: 9%;
  border-radius: 33px;
  font-size: 70px;
  background-color: rgb(30, 240, 170);
  transition: .5s;
}

#create-goal-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-goal-modal {
  position: fixed;
  font-family: 'Baloo Bhai', sans-serif;
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: hidden;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 50px;
  color: rgb(100, 100, 100);
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.goal-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
  font-size: 40px;
  color: rgb(100, 100, 100);
}

.goal-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 5px;
}

.goal-input-element input,
.goal-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid rgb(100, 100, 100);
  color: rgb(100, 100, 100);
  min-height: 20px;
}

.goal-input-element input:focus {
    outline-color: rgb(30, 240, 170);
}

#goal-text-input{
    min-height: 50px;
    align-items: center;
    color: rgb(100, 100, 100);
}

#goal-text-input:focus {
    outline-color: rgb(30, 240, 170);
}



.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button {
    font-family: 'Baloo Bhai', sans-serif;
    color: white;
    background-color: rgb(100, 100, 100);
}

.modal-footer .modal-cancel-button:hover {
  color: rgb(100, 100, 100);
  background-color: white;

}

.modal-footer .modal-accept-button {
    font-family: 'Baloo Bhai', sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.modal-footer .modal-accept-button:hover {
  background-color: rgb(30, 240, 170);

}

.class404{
    font-family: 'Baloo Bhai', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(100, 100, 100);

}

-----------------------------
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#edit-goal-modal {
  position: fixed;
  font-family: 'Baloo Bhai', sans-serif;
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: hidden;
}

.hidden {
  display: none;
}

.modal-dialog-edit {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header-edit {
  position: relative;
  padding: 10px 20px;
}

.modal-header-edit h3 {
  margin: 0;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.modal-edit-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-edit-body {
  padding: 20px;
}

.goal-edit-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
  font-size: 40px;
  color: rgb(100, 100, 100);
}

.goal-edit-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 5px;
}

.goal-edit-input-element input,
.goal-edit-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid rgb(100, 100, 100);
  color: rgb(100, 100, 100);
  min-height: 20px;
}

.goal-edit-input-element input:focus {
    outline-color: rgb(30, 240, 170);
}

#goal-edit-text-input{
    min-height: 50px;
    align-items: center;
    color: rgb(100, 100, 100);
}

#goal-edit-text-input:focus {
    outline-color: rgb(30, 240, 170);
}



.modal-edit-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-edit-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-edit-footer .modal-delete-button {
    font-family: 'Baloo Bhai', sans-serif;
    color: white;
    background-color: rgb(100, 100, 100);
}

.modal-edit-footer .modal-delete-button:hover {
  color: rgb(100, 100, 100);
  background-color: white;

}

.modal-edit-footer .modal-edit-button {
    font-family: 'Baloo Bhai', sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.modal-edit-footer .modal-edit-button:hover {
  background-color: rgb(30, 240, 170);

}
-----------------------------

.bottom-calendar {

  height: 90%;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 900px;

  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  flex-wrap: wrap;

}




.day {
  display: flex;
  width: 12%;
  height: 16%;

  margin: 5px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 1);
  font-family: 'Baloo Bhai', sans-serif;
  color: white;
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
}
